**/*.log
**/settings.json
**/build
**/.cph

# C/C++ CMake Ignore
**/CMakeLists.txt.user
**/CMakeCache.txt
**/CMakeFiles
**/CMakeScripts
**/Testing
**/Makefile
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json
**/CTestTestfile.cmake
**/_deps

# Java Ignore
java/mooc_uni_of_helsinki_course/**/target
java/mooc_uni_of_helsinki_course/**/src/test
java/mooc_uni_of_helsinki_course/**/*.json
java/mooc_uni_of_helsinki_course/**/*.xml
java/mooc_uni_of_helsinki_course/**/*.yml